@model IEnumerable<Task_5.Models.UserModel>

<tbody>
    @{
        var counter = ViewBag.StartIndex as int? ?? 1;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
            </tr>
            counter++;
        }
    }
</tbody>
